pair of tags = it containg open tag and closing tag
opening tag = it containing only opening tag and no closing tag
what is anttribute = extra information is given to the element is called anttribute
 what is element = it containg operning tag and contant ond closing tag then it called as element
 what are the image attributes = <img src="" alt=""> = src = means source , and alt = alternate.
 what are the pair of tags = mainly == <html> </html> <title> </title> <head> </head> <body> </bobd> <p> </p> 
 what are the opening tag = <br> <hr> 
 


