p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: chiller;
    font-weight: lighter;
    font-variant: small-caps;
    font-size:x-small;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;

}